<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengbo.quartz.dao.DbOptMapper">

	<insert id="save"  parameterType="string">
		<![CDATA[${insertSql}]]>
	</insert>
	
	<update id="update" parameterType="string">
			<![CDATA[${updateSql}]]>
	</update>
	
	<delete id="delete" parameterType="string">
		<![CDATA[${deleteSql}]]>
	</delete>
	
	<select id="select" resultType="map"  parameterType="string">
		<![CDATA[${selectSql}]]>
	</select>
	
	
</mapper>